<html>
    <head>
       
 
<link rel="stylesheet" href="{{ asset('bundles/projectbundlefrontend/css/project.css') }}" />        
        
    </head>
    <h2>Hello Alamgir</h2>
    <?php 
    echo '<h1>hello mr Alamgir</h1>';
    ?>
</html>